### data distribution for triamese training only on nonlinear registrtered data without  CBH

In [1]:
import pandas as pd
data_path= '/home/omen/Documents/Megha/Trimeese_Data_without_CBH'

### training_data

In [2]:
train_csv= '/home/omen/Documents/Rishabh/rp-ai-Brain-age-data-distribution/Balancedmeanandstd_dataset/TrainCSV.csv'
train_data= pd.read_csv(train_csv)
train_data

                      FILE_NAME        AGE  SEX
0         Stanford_51189.nii.gz   9.208100    1
1    ABIDEII-NYU_1_29235.nii.gz   9.033000    1
2    ABIDEII-EMC_1_29915.nii.gz   6.329911    1
3         Stanford_51184.nii.gz   9.106800    2
4        ABIDE_KKI_29322.nii.gz   9.391781    2
..                          ...        ...  ...
931  IXI507-Guys-1036-T1.nii.gz  71.663244    1
932    IXI252-HH-1693-T1.nii.gz  70.559890    2
933    IXI274-HH-2294-T1.nii.gz  73.538672    2
934   IXI463-IOP-1043-T1.nii.gz  70.143737    2
935  IXI456-Guys-1019-T1.nii.gz  70.247775    2

[936 rows x 3 columns]

In [4]:
import os
import shutil

dest_train= '/home/omen/Documents/Nafisha/brainAge/triamese_vit_without_CBH/NTrain'
for itr,row in train_data.iterrows():
    file_path= os.path.join(data_path, row['FILE_NAME'])
    if os.path.exists(file_path):
        shutil.copy(file_path, dest_train)
    else:
        print(f"File not found: {file_path}")

In [5]:
# Testing
for itr,row in train_data.iterrows():
    file_path= os.path.join(dest_train, row['FILE_NAME'])
    if not os.path.exists(file_path):
        print(file_path)

### validation_data

In [6]:
val_csv= '/home/omen/Documents/Rishabh/rp-ai-Brain-age-data-distribution/Balancedmeanandstd_dataset/ValCSV.csv'
val_data= pd.read_csv(val_csv)
val_data

                       FILE_NAME        AGE  SEX
0    ABIDEII-OHSU_1_28983.nii.gz   8.000000    1
1                UM_50358.nii.gz   9.800000    1
2         ABIDE_KKI_29371.nii.gz   9.936986    2
3    ABIDEII-UCLA_1_29755.nii.gz   8.333333    1
4      ABIDEII-GU_1_28744.nii.gz   9.887671    1
..                           ...        ...  ...
193     IXI175-HH-1570-T1.nii.gz  72.265572    1
194   IXI551-Guys-1065-T1.nii.gz  70.502396    2
195   IXI229-Guys-0980-T1.nii.gz  72.350445    2
196     IXI448-HH-2393-T1.nii.gz  79.414100    1
197    IXI433-IOP-0989-T1.nii.gz  73.900068    2

[198 rows x 3 columns]

In [7]:
import os
import shutil

dest_val= '/home/omen/Documents/Nafisha/brainAge/triamese_vit_without_CBH/NVal'
for itr,row in val_data.iterrows():
    file_path= os.path.join(data_path, row['FILE_NAME'])
    if os.path.exists(file_path):
        shutil.copy(file_path, dest_val)
    else:
        print(f"File not found: {file_path}")

In [8]:
# Testing
for itr,row in val_data.iterrows():
    file_path= os.path.join(dest_val, row['FILE_NAME'])
    if not os.path.exists(file_path):
        print(file_path)

### testing_data

In [9]:
test_csv= '/home/omen/Documents/Rishabh/rp-ai-Brain-age-data-distribution/Balancedmeanandstd_dataset/TestCSV.csv'
test_data= pd.read_csv(test_csv)
test_data

                       FILE_NAME        AGE  SEX
0         ABIDE_KKI_29439.nii.gz   8.783562    2
1    ABIDEII-UCLA_1_29744.nii.gz   9.083333    1
2      ABIDEII-GU_1_28763.nii.gz   8.139726    2
3     ABIDEII-NYU_1_29230.nii.gz   8.164000    1
4              OHSU_50168.nii.gz   9.690000    1
..                           ...        ...  ...
203   IXI415-Guys-0942-T1.nii.gz  72.325804    2
204     IXI327-HH-1999-T1.nii.gz  73.563313    1
205     IXI518-HH-2239-T1.nii.gz  75.827515    2
206   IXI554-Guys-1068-T1.nii.gz  70.105407    1
207   IXI458-Guys-0993-T1.nii.gz  70.710472    1

[208 rows x 3 columns]

In [10]:
import os
import shutil

dest_test= '/home/omen/Documents/Nafisha/brainAge/triamese_vit_without_CBH/NTest'
for itr,row in test_data.iterrows():
    file_path= os.path.join(data_path, row['FILE_NAME'])
    if os.path.exists(file_path):
        shutil.copy(file_path, dest_test)
    else:
        print(f"File not found: {file_path}")

In [11]:
# Testing
for itr,row in test_data.iterrows():
    file_path= os.path.join(dest_test, row['FILE_NAME'])
    if not os.path.exists(file_path):
        print(file_path)

In [14]:
path= '/home/omen/Documents/Nafisha/brainAge/triamese_vit_without_CBH/NVal'
len(os.listdir(path))

198