In [1]:
import  pandas as pd

In [20]:
norm_path = '/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_NORMCOG.csv'
normal_data= pd.read_csv(norm_path)
normal_data

,OASISID,OASIS_session_label,days_to_visit,age at visit,WHODIDDX,NORMCOG,DEMENTED,MCIAMEM,MCIAPLUS,MCIAPLAN,...,schizoif,anxiet,anxietif,delir,delirif,ptsddx,ptsddxif,alcabuse,impsub,impsubif
0,OAS30001,OAS30001_UDSd1_d0000,0,65.19,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OAS30001,OAS30001_UDSd1_d0339,339,66.12,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OAS30001,OAS30001_UDSd1_d0722,722,67.17,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OAS30001,OAS30001_UDSd1_d1106,1106,68.22,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OAS30001,OAS30001_UDSd1_d1456,1456,69.18,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8494,OAS31472,OAS31472_UDSd1_d0826,826,69.53,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8495,OAS31473,OAS31473_UDSd1_d0000,0,56.61,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8496,OAS31473,OAS31473_UDSd1_d1142,1142,59.74,NaN,0.0,0.0,1.0,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8497,OAS31474,OAS31474_UDSd1_d0000,0,81.84,NaN,0.0,0.0,1.0,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8498,OAS31474,OAS31474_UDSd1_d0732,732,83.85,NaN,0.0,1.0,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN

In [21]:
mri_path = '/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_MR_age.csv'
mri_data = pd.read_csv(mri_path)
mri_data

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
1,OAS30001_MR_d0757,NaN,OAS30001,67.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
2,OAS30001_MR_d2430,NaN,OAS30001,71.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
3,OAS30001_MR_d3132,NaN,OAS30001,73.0,3.0T,"T1w(1), T2star(1), T2w(2), asl(2), bold(2), dw...",NaN,1.0
4,OAS30001_MR_d3746,NaN,OAS30001,NaN,NaN,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
...,...,...,...,...,...,...,...,...
2839,OAS31472_MR_d0045,NaN,OAS31472,NaN,NaN,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2840,OAS31473_MR_d0136,NaN,OAS31473,NaN,NaN,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2841,OAS31474_MR_d0150,NaN,OAS31474,NaN,NaN,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2842,OASIS3_data_files,NaN,0AS_data_files,NaN,NaN,"Amyloid Centiloid Values(1), CT json informati...",NaN,NaN
2843,OASIS_cohort_files,NaN,0AS_data_files,NaN,NaN,Cognitively Normal Cohorts(1),NaN,NaN

In [11]:
norm_id_path = '/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_NORMCOG_IDs.csv'
normal_id_data= pd.read_csv(norm_id_path)
normal_id_data

    OASIS3_id  Min of CDRTOT  Max of CDRTOT
0    OAS30001              0              0
1    OAS30002              0              0
2    OAS30003              0              0
3    OAS30004              0              0
4    OAS30005              0              0
..        ...            ...            ...
750  OAS31465              0              0
751  OAS31469              0              0
752  OAS31470              0              0
753  OAS31471              0              0
754  OAS31472              0              0

[755 rows x 3 columns]

In [36]:
normal_ids= np.unique(normal_id_data['OASIS3_id'])

In [26]:
# these are those ids which are either not present in normal_id_data or for which there is normal_data['NORMCOG'] is not 1

ids_to_remove= ['OAS30117', 'OAS30259', 'OAS30375', 'OAS30608', 'OAS30937', 'OAS30991', 'OAS31035', 'OAS31061', 'OAS31068', 'OAS30113', 'OAS30230', 'OAS30290', 'OAS30427', 'OAS30659', 'OAS30718', 'OAS31064', 'OAS31136']

In [28]:
mri_data

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
1,OAS30001_MR_d0757,NaN,OAS30001,67.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
2,OAS30001_MR_d2430,NaN,OAS30001,71.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
3,OAS30001_MR_d3132,NaN,OAS30001,73.0,3.0T,"T1w(1), T2star(1), T2w(2), asl(2), bold(2), dw...",NaN,1.0
4,OAS30001_MR_d3746,NaN,OAS30001,NaN,NaN,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
...,...,...,...,...,...,...,...,...
2839,OAS31472_MR_d0045,NaN,OAS31472,NaN,NaN,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2840,OAS31473_MR_d0136,NaN,OAS31473,NaN,NaN,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2841,OAS31474_MR_d0150,NaN,OAS31474,NaN,NaN,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2842,OASIS3_data_files,NaN,0AS_data_files,NaN,NaN,"Amyloid Centiloid Values(1), CT json informati...",NaN,NaN
2843,OASIS_cohort_files,NaN,0AS_data_files,NaN,NaN,Cognitively Normal Cohorts(1),NaN,NaN

In [59]:
only_normal = mri_data[mri_data['Subject'].isin(normal_ids)]
filtered_normal_data = only_normal[~only_normal['Subject'].isin(ids_to_remove)]

In [60]:
len(np.unique(only_normal['Subject'])), len(np.unique(filtered_normal_data['Subject']))

(754, 746)

In [62]:
filtered_normal_data = filtered_normal_data[filtered_normal_data['Age'].notna()]

In [63]:
filtered_normal_data

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
1,OAS30001_MR_d0757,NaN,OAS30001,67.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
2,OAS30001_MR_d2430,NaN,OAS30001,71.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
3,OAS30001_MR_d3132,NaN,OAS30001,73.0,3.0T,"T1w(1), T2star(1), T2w(2), asl(2), bold(2), dw...",NaN,1.0
6,OAS30002_MR_d0371,NaN,OAS30002,68.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
...,...,...,...,...,...,...,...,...
2524,OAS31167_MR_d3530,NaN,OAS31167,61.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), asl(2), bol...",NaN,1.0
2525,OAS31167_MR_d4564,NaN,OAS31167,64.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
2526,OAS31168_MR_d0148,NaN,OAS31168,65.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
2527,OAS31168_MR_d1566,NaN,OAS31168,69.0,3.0T,"FLAIR(1), GRE(2), T1w(1), T2star(1), T2w(2), a...",NaN,1.0
2528,OAS31168_MR_d2526,NaN,OAS31168,72.0,3.0T,"T1w(1), T2w(2), bold(1), dwi(1), fieldmap(3)",NaN,1.0

In [64]:
filtered_normal_data = filtered_normal_data[
    filtered_normal_data['Scans'].str.contains('T1', na=False)
]

In [65]:
filtered_normal_data

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
1,OAS30001_MR_d0757,NaN,OAS30001,67.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
2,OAS30001_MR_d2430,NaN,OAS30001,71.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
3,OAS30001_MR_d3132,NaN,OAS30001,73.0,3.0T,"T1w(1), T2star(1), T2w(2), asl(2), bold(2), dw...",NaN,1.0
6,OAS30002_MR_d0371,NaN,OAS30002,68.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
...,...,...,...,...,...,...,...,...
2524,OAS31167_MR_d3530,NaN,OAS31167,61.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), asl(2), bol...",NaN,1.0
2525,OAS31167_MR_d4564,NaN,OAS31167,64.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
2526,OAS31168_MR_d0148,NaN,OAS31168,65.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
2527,OAS31168_MR_d1566,NaN,OAS31168,69.0,3.0T,"FLAIR(1), GRE(2), T1w(1), T2star(1), T2w(2), a...",NaN,1.0
2528,OAS31168_MR_d2526,NaN,OAS31168,72.0,3.0T,"T1w(1), T2w(2), bold(1), dwi(1), fieldmap(3)",NaN,1.0

In [68]:
len(np.unique(filtered_normal_data['Subject']))

546

In [67]:
filtered_normal_data = filtered_normal_data.drop_duplicates(
    subset=['Subject'], keep='first'
)

In [69]:
filtered_normal_data

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
6,OAS30002_MR_d0371,NaN,OAS30002,68.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
11,OAS30003_MR_d0558,NaN,OAS30003,60.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
18,OAS30004_MR_d1101,NaN,OAS30004,58.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
23,OAS30005_MR_d0143,NaN,OAS30005,48.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
...,...,...,...,...,...,...,...,...
2511,OAS31160_MR_d6062,NaN,OAS31160,81.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(3), dw...",NaN,1.0
2512,OAS31161_MR_d0056,NaN,OAS31161,62.0,3.0T,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
2518,OAS31165_MR_d0426,NaN,OAS31165,57.0,3.0T,"GRE(2), T1w(2), T2star(1), T2w(2), angio(5), a...",NaN,1.0
2521,OAS31167_MR_d0064,NaN,OAS31167,51.0,1.5T,"T1w(3), T2w(2)",NaN,1.0
2526,OAS31168_MR_d0148,NaN,OAS31168,65.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0

In [70]:
filtered_data_50= filtered_normal_data.iloc[0:50]

In [72]:
filtered_data_50

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
6,OAS30002_MR_d0371,NaN,OAS30002,68.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
11,OAS30003_MR_d0558,NaN,OAS30003,60.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0
18,OAS30004_MR_d1101,NaN,OAS30004,58.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
23,OAS30005_MR_d0143,NaN,OAS30005,48.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
30,OAS30006_MR_d0166,NaN,OAS30006,62.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
43,OAS30008_MR_d0061,NaN,OAS30008,52.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
49,OAS30009_MR_d0148,NaN,OAS30009,49.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
53,OAS30010_MR_d0068,NaN,OAS30010,68.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
56,OAS30011_MR_d0055,NaN,OAS30011,78.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0
62,OAS30014_MR_d0196,NaN,OAS30014,70.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2)",NaN,1.0
64,OAS30015_MR_d0116,NaN,OAS30015,65.0,3.0T,"T1w(2), T2w(2), bold(2)",NaN,1.0
69,OAS30017_MR_d0054,NaN,OAS30017,53.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
70,OAS30018_MR_d0070,NaN,OAS30018,71.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
73,OAS30020_MR_d0092,NaN,OAS30020,52.0,1.5T,"T1w(4), T2w(2)",NaN,1.0
75,OAS30021_MR_d0071,NaN,OAS30021,69.0,3.0T,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0
80,OAS30026_MR_d0048,NaN,OAS30026,80.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,NaN
91,OAS30030_MR_d0170,NaN,OAS30030,66.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0
93,OAS30032_MR_d0262,NaN,OAS30032,50.0,1.5T,"T1w(3), T2w(2)",NaN,1.0
96,OAS30033_MR_d0133,NaN,OAS30033,79.0,3.0T,"T1w(2), T2star(1), T2w(3), bold(2), dwi(1), mi...",NaN,1.0
98,OAS30034_MR_d0044,NaN,OAS30034,65.0,3.0T,"FLAIR(1), GRE(2), T1w(1), T2star(1), T2w(2), a...",NaN,1.0
101,OAS30036_MR_d0059,NaN,OAS30036,66.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0
103,OAS30037_MR_d0154,NaN,OAS30037,59.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), angio(1), a...",NaN,1.0
112,OAS30039_MR_d0103,NaN,OAS30039,73.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
118,OAS30042_MR_d0067,NaN,OAS30042,68.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
121,OAS30044_MR_d0054,NaN,OAS30044,63.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), asl(2), bol...",NaN,1.0
124,OAS30046_MR_d0072,NaN,OAS30046,80.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
127,OAS30048_MR_d0983,NaN,OAS30048,62.0,1.5T,"T1w(3), T2w(2)",NaN,1.0
134,OAS30049_MR_d0013,NaN,OAS30049,73.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
137,OAS30050_MR_d0110,NaN,OAS30050,70.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0
146,OAS30053_MR_d0428,NaN,OAS30053,63.0,3.0T,"T1w(2), T2w(2), bold(3), minIP(1), swi(1)",NaN,1.0
154,OAS30059_MR_d0230,NaN,OAS30059,49.0,1.5T,"T1w(4), T2w(2)",NaN,1.0
156,OAS30060_MR_d0074,NaN,OAS30060,80.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
158,OAS30062_MR_d0087,NaN,OAS30062,51.0,1.5T,"T1w(3), T2w(2)",NaN,1.0
167,OAS30065_MR_d0548,NaN,OAS30065,71.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0
169,OAS30066_MR_d0524,NaN,OAS30066,75.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0
172,OAS30067_MR_d0057,NaN,OAS30067,56.0,3.0T,"T1w(1), T2w(1)",NaN,1.0
182,OAS30073_MR_d0033,NaN,OAS30073,61.0,1.5T,"T1w(4), T2w(2)",NaN,1.0
191,OAS30075_MR_d0143,NaN,OAS30075,80.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(3), dw...",NaN,1.0
197,OAS30077_MR_d0944,NaN,OAS30077,76.0,3.0T,T1w(1),NaN,1.0
199,OAS30079_MR_d0019,NaN,OAS30079,45.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0
204,OAS30080_MR_d0048,NaN,OAS30080,62.0,3.0T,"FLAIR(1), GRE(2), T1w(1), T2star(1), T2w(2), a...",NaN,1.0
207,OAS30082_MR_d1700,NaN,OAS30082,61.0,3.0T,"FLAIR(1), GRE(2), T1w(2), T2star(1), T2w(2), a...",NaN,1.0
208,OAS30083_MR_d0465,NaN,OAS30083,59.0,3.0T,"T1w(2), T2w(2), bold(2)",NaN,1.0
214,OAS30086_MR_d0000,NaN,OAS30086,68.0,3.0T,"GRE(2), T1w(2), T2star(1), T2w(2), bold(2), dw...",NaN,NaN
216,OAS30088_MR_d0093,NaN,OAS30088,76.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0
217,OAS30089_MR_d0001,NaN,OAS30089,78.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0
218,OAS30090_MR_d0118,NaN,OAS30090,53.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), asl(2), bol...",NaN,1.0
222,OAS30092_MR_d0636,NaN,OAS30092,60.0,1.5T,"T1w(1), T2w(2)",NaN,1.0
224,OAS30093_MR_d0056,NaN,OAS30093,59.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0

In [73]:
len(filtered_data_50)

50

In [75]:
filtered_data_50.to_csv('/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_testingData.csv', index=False)

# path mapping code

In [22]:
import pandas as pd
csv_path= '/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_testingData.csv'
data= pd.read_csv(csv_path)

In [23]:
data

,MR ID,Date,Subject,Age,Scanner,Scans,PUP Timecourses,Freesurfers,file_path,file_name
0,OAS30001_MR_d0129,NaN,OAS30001,65.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0,OASIS3/OAS30001/OAS30001_MR_d0129/anat2/NIFTI/...,sub-OAS30001_ses-d0129_run-01_T1w.nii.gz
1,OAS30002_MR_d0371,NaN,OAS30002,68.0,1.5T,"T1w(1), T2w(2)",NaN,1.0,OASIS3/OAS30002/OAS30002_MR_d0371/anat3/NIFTI/...,sub-OAS30002_ses-d0371_T1w.nii.gz
2,OAS30003_MR_d0558,NaN,OAS30003,60.0,3.0T,"T1w(2), T2w(2), bold(3)",NaN,1.0,OASIS3/OAS30003/OAS30003_MR_d0558/anat2/NIFTI/...,sub-OAS30003_ses-d0558_run-01_T1w.nii.gz
3,OAS30004_MR_d1101,NaN,OAS30004,58.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0,OASIS3/OAS30004/OAS30004_MR_d1101/anat2/NIFTI/...,sub-OAS30004_ses-d1101_run-01_T1w.nii.gz
4,OAS30005_MR_d0143,NaN,OAS30005,48.0,1.5T,"T1w(1), T2w(2)",NaN,1.0,OASIS3/OAS30005/OAS30005_MR_d0143/anat3/NIFTI/...,sub-OAS30005_ses-d0143_T1w.nii.gz
5,OAS30006_MR_d0166,NaN,OAS30006,62.0,1.5T,"T1w(1), T2w(2)",NaN,1.0,OASIS3/OAS30006/OAS30006_MR_d0166/anat3/NIFTI/...,sub-OAS30006_ses-d0166_T1w.nii.gz
6,OAS30008_MR_d0061,NaN,OAS30008,52.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30008/OAS30008_MR_d0061/anat2/NIFTI/...,sub-OAS30008_ses-d0061_run-01_T1w.nii.gz
7,OAS30009_MR_d0148,NaN,OAS30009,49.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0,OASIS3/OAS30009/OAS30009_MR_d0148/anat2/NIFTI/...,sub-OAS30009_ses-d0148_run-01_T1w.nii.gz
8,OAS30010_MR_d0068,NaN,OAS30010,68.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0,OASIS3/OAS30010/OAS30010_MR_d0068/anat4/NIFTI/...,sub-OAS30010_ses-d0068_T1w.nii.gz
9,OAS30011_MR_d0055,NaN,OAS30011,78.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0,OASIS3/OAS30011/OAS30011_MR_d0055/anat2/NIFTI/...,sub-OAS30011_ses-d0055_T1w.nii.gz
10,OAS30014_MR_d0196,NaN,OAS30014,70.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2)",NaN,1.0,OASIS3/OAS30014/OAS30014_MR_d0196/anat2/NIFTI/...,sub-OAS30014_ses-d0196_run-01_T1w.nii.gz
11,OAS30015_MR_d0116,NaN,OAS30015,65.0,3.0T,"T1w(2), T2w(2), bold(2)",NaN,1.0,OASIS3/OAS30015/OAS30015_MR_d0116/anat2/NIFTI/...,sub-OAS30015_ses-d0116_run-01_T1w.nii.gz
12,OAS30017_MR_d0054,NaN,OAS30017,53.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0,OASIS3/OAS30017/OAS30017_MR_d0054/anat2/NIFTI/...,sub-OAS30017_ses-d0054_run-01_T1w.nii.gz
13,OAS30018_MR_d0070,NaN,OAS30018,71.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30018/OAS30018_MR_d0070/anat2/NIFTI/...,sub-OAS30018_ses-d0070_run-01_T1w.nii.gz
14,OAS30020_MR_d0092,NaN,OAS30020,52.0,1.5T,"T1w(4), T2w(2)",NaN,1.0,OASIS3/OAS30020/OAS30020_MR_d0092/anat4/NIFTI/...,sub-OAS30020_ses-d0092_run-02_T1w.nii.gz
15,OAS30021_MR_d0071,NaN,OAS30021,69.0,3.0T,"FLAIR(1), T1w(1), T2star(1)",NaN,1.0,OASIS3/OAS30021/OAS30021_MR_d0071/anat2/NIFTI/...,sub-OAS30021_ses-d0071_T1w.nii.gz
16,OAS30026_MR_d0048,NaN,OAS30026,80.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,NaN,OASIS3/OAS30026/OAS30026_MR_d0048/anat2/NIFTI/...,sub-OAS30026_ses-d0048_T1w.nii.gz
17,OAS30030_MR_d0170,NaN,OAS30030,66.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0,OASIS3/OAS30030/OAS30030_MR_d0170/anat2/NIFTI/...,sub-OAS30030_ses-d0170_T1w.nii.gz
18,OAS30032_MR_d0262,NaN,OAS30032,50.0,1.5T,"T1w(3), T2w(2)",NaN,1.0,OASIS3/OAS30032/OAS30032_MR_d0262/anat4/NIFTI/...,sub-OAS30032_ses-d0262_run-02_T1w.nii.gz
19,OAS30033_MR_d0133,NaN,OAS30033,79.0,3.0T,"T1w(2), T2star(1), T2w(3), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30033/OAS30033_MR_d0133/anat4/NIFTI/...,sub-OAS30033_ses-d0133_run-02_T1w.nii.gz
20,OAS30034_MR_d0044,NaN,OAS30034,65.0,3.0T,"FLAIR(1), GRE(2), T1w(1), T2star(1), T2w(2), a...",NaN,1.0,OASIS3/OAS30034/OAS30034_MR_d0044/anat3/NIFTI/...,sub-OAS30034_ses-d0044_T1w.nii.gz
21,OAS30036_MR_d0059,NaN,OAS30036,66.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0,OASIS3/OAS30036/OAS30036_MR_d0059/anat2/NIFTI/...,sub-OAS30036_ses-d0059_T1w.nii.gz
22,OAS30037_MR_d0154,NaN,OAS30037,59.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), angio(1), a...",NaN,1.0,OASIS3/OAS30037/OAS30037_MR_d0154/anat3/NIFTI/...,sub-OAS30037_ses-d0154_T1w.nii.gz
23,OAS30039_MR_d0103,NaN,OAS30039,73.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0,OASIS3/OAS30039/OAS30039_MR_d0103/anat4/NIFTI/...,sub-OAS30039_ses-d0103_T1w.nii.gz
24,OAS30042_MR_d0067,NaN,OAS30042,68.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0,OASIS3/OAS30042/OAS30042_MR_d0067/anat4/NIFTI/...,sub-OAS30042_ses-d0067_T1w.nii.gz
25,OAS30044_MR_d0054,NaN,OAS30044,63.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), asl(2), bol...",NaN,1.0,OASIS3/OAS30044/OAS30044_MR_d0054/anat2/NIFTI/...,sub-OAS30044_ses-d0054_T1w.nii.gz
26,OAS30046_MR_d0072,NaN,OAS30046,80.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30046/OAS30046_MR_d0072/anat2/NIFTI/...,sub-OAS30046_ses-d0072_run-01_T1w.nii.gz
27,OAS30048_MR_d0983,NaN,OAS30048,62.0,1.5T,"T1w(3), T2w(2)",NaN,1.0,OASIS3/OAS30048/OAS30048_MR_d0983/anat4/NIFTI/...,sub-OAS30048_ses-d0983_run-02_T1w.nii.gz
28,OAS30049_MR_d0013,NaN,OAS30049,73.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30049/OAS30049_MR_d0013/anat2/NIFTI/...,sub-OAS30049_ses-d0013_run-01_T1w.nii.gz
29,OAS30050_MR_d0110,NaN,OAS30050,70.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0,OASIS3/OAS30050/OAS30050_MR_d0110/anat2/NIFTI/...,sub-OAS30050_ses-d0110_T1w.nii.gz
30,OAS30053_MR_d0428,NaN,OAS30053,63.0,3.0T,"T1w(2), T2w(2), bold(3), minIP(1), swi(1)",NaN,1.0,OASIS3/OAS30053/OAS30053_MR_d0428/anat2/NIFTI/...,sub-OAS30053_ses-d0428_run-01_T1w.nii.gz
31,OAS30059_MR_d0230,NaN,OAS30059,49.0,1.5T,"T1w(4), T2w(2)",NaN,1.0,OASIS3/OAS30059/OAS30059_MR_d0230/anat4/NIFTI/...,sub-OAS30059_ses-d0230_run-02_T1w.nii.gz
32,OAS30060_MR_d0074,NaN,OAS30060,80.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30060/OAS30060_MR_d0074/anat2/NIFTI/...,sub-OAS30060_ses-d0074_run-01_T1w.nii.gz
33,OAS30062_MR_d0087,NaN,OAS30062,51.0,1.5T,"T1w(3), T2w(2)",NaN,1.0,OASIS3/OAS30062/OAS30062_MR_d0087/anat4/NIFTI/...,sub-OAS30062_ses-d0087_run-02_T1w.nii.gz
34,OAS30065_MR_d0548,NaN,OAS30065,71.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0,OASIS3/OAS30065/OAS30065_MR_d0548/anat2/NIFTI/...,sub-OAS30065_ses-d0548_T1w.nii.gz
35,OAS30066_MR_d0524,NaN,OAS30066,75.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(2), dw...",NaN,1.0,OASIS3/OAS30066/OAS30066_MR_d0524/anat2/NIFTI/...,sub-OAS30066_ses-d0524_T1w.nii.gz
36,OAS30067_MR_d0057,NaN,OAS30067,56.0,3.0T,"T1w(1), T2w(1)",NaN,1.0,OASIS3/OAS30067/OAS30067_MR_d0057/anat1/NIFTI/...,sub-OAS30067_ses-d0057_T1w.nii.gz
37,OAS30073_MR_d0033,NaN,OAS30073,61.0,1.5T,"T1w(4), T2w(2)",NaN,1.0,OASIS3/OAS30073/OAS30073_MR_d0033/anat4/NIFTI/...,sub-OAS30073_ses-d0033_run-02_T1w.nii.gz
38,OAS30075_MR_d0143,NaN,OAS30075,80.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), bold(3), dw...",NaN,1.0,OASIS3/OAS30075/OAS30075_MR_d0143/anat2/NIFTI/...,sub-OAS30075_ses-d0143_T1w.nii.gz
39,OAS30077_MR_d0944,NaN,OAS30077,76.0,3.0T,T1w(1),NaN,1.0,OASIS3/OAS30077/OAS30077_MR_d0944/anat1/NIFTI/...,sub-OAS30077_ses-d0944_T1w.nii.gz
40,OAS30079_MR_d0019,NaN,OAS30079,45.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(3), dwi(1), mi...",NaN,1.0,OASIS3/OAS30079/OAS30079_MR_d0019/anat2/NIFTI/...,sub-OAS30079_ses-d0019_run-01_T1w.nii.gz
41,OAS30080_MR_d0048,NaN,OAS30080,62.0,3.0T,"FLAIR(1), GRE(2), T1w(1), T2star(1), T2w(2), a...",NaN,1.0,OASIS3/OAS30080/OAS30080_MR_d0048/anat3/NIFTI/...,sub-OAS30080_ses-d0048_T1w.nii.gz
42,OAS30082_MR_d1700,NaN,OAS30082,61.0,3.0T,"FLAIR(1), GRE(2), T1w(2), T2star(1), T2w(2), a...",NaN,1.0,OASIS3/OAS30082/OAS30082_MR_d1700/anat4/NIFTI/...,sub-OAS30082_ses-d1700_run-02_T1w.nii.gz
43,OAS30083_MR_d0465,NaN,OAS30083,59.0,3.0T,"T1w(2), T2w(2), bold(2)",NaN,1.0,OASIS3/OAS30083/OAS30083_MR_d0465/anat2/NIFTI/...,sub-OAS30083_ses-d0465_run-01_T1w.nii.gz
44,OAS30086_MR_d0000,NaN,OAS30086,68.0,3.0T,"GRE(2), T1w(2), T2star(1), T2w(2), bold(2), dw...",NaN,NaN,OASIS3/OAS30086/OAS30086_MR_d0000/anat2/NIFTI/...,sub-OAS30086_ses-d0000_run-01_T1w.nii.gz
45,OAS30088_MR_d0093,NaN,OAS30088,76.0,3.0T,"T1w(2), T2star(1), T2w(2), bold(2), dwi(1), mi...",NaN,1.0,OASIS3/OAS30088/OAS30088_MR_d0093/anat2/NIFTI/...,sub-OAS30088_ses-d0093_run-01_T1w.nii.gz
46,OAS30089_MR_d0001,NaN,OAS30089,78.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0,OASIS3/OAS30089/OAS30089_MR_d0001/anat4/NIFTI/...,sub-OAS30089_ses-d0001_T1w.nii.gz
47,OAS30090_MR_d0118,NaN,OAS30090,53.0,3.0T,"GRE(2), T1w(1), T2star(1), T2w(2), asl(2), bol...",NaN,1.0,OASIS3/OAS30090/OAS30090_MR_d0118/anat2/NIFTI/...,sub-OAS30090_ses-d0118_T1w.nii.gz
48,OAS30092_MR_d0636,NaN,OAS30092,60.0,1.5T,"T1w(1), T2w(2)",NaN,1.0,OASIS3/OAS30092/OAS30092_MR_d0636/anat3/NIFTI/...,sub-OAS30092_ses-d0636_T1w.nii.gz
49,OAS30093_MR_d0056,NaN,OAS30093,59.0,3.0T,"FLAIR(1), T1w(1), T2star(1), T2w(1), angio(1),...",NaN,1.0,OASIS3/OAS30093/OAS30093_MR_d0056/anat4/NIFTI/...,sub-OAS30093_ses-d0056_T1w.nii.gz

In [24]:
import os
source_dir= '/home/common/OASIS3'
file_paths = [] 

for itr, row in data.iterrows():
    path= os.path.join(source_dir, row['Subject'], row['MR ID'])
    anats= os.listdir(path)
    folder_path= os.path.join(path, anats[0], 'NIFTI') 
    file_name= os.listdir(folder_path)
    file_path= os.path.join(folder_path, file_name[0])
    print(file_name, file_path)
    # file_paths.append(file_path)

# add new column
# data['file_path'] = file_paths

['sub-OAS30001_ses-d0129_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30001/OAS30001_MR_d0129/anat2/NIFTI/sub-OAS30001_ses-d0129_run-01_T1w.nii.gz
['sub-OAS30002_ses-d0371_T1w.nii.gz'] /home/common/OASIS3/OAS30002/OAS30002_MR_d0371/anat3/NIFTI/sub-OAS30002_ses-d0371_T1w.nii.gz
['sub-OAS30003_ses-d0558_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30003/OAS30003_MR_d0558/anat2/NIFTI/sub-OAS30003_ses-d0558_run-01_T1w.nii.gz
['sub-OAS30004_ses-d1101_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30004/OAS30004_MR_d1101/anat2/NIFTI/sub-OAS30004_ses-d1101_run-01_T1w.nii.gz
['sub-OAS30005_ses-d0143_T1w.nii.gz'] /home/common/OASIS3/OAS30005/OAS30005_MR_d0143/anat3/NIFTI/sub-OAS30005_ses-d0143_T1w.nii.gz
['sub-OAS30006_ses-d0166_T1w.nii.gz'] /home/common/OASIS3/OAS30006/OAS30006_MR_d0166/anat3/NIFTI/sub-OAS30006_ses-d0166_T1w.nii.gz
['sub-OAS30008_ses-d0061_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30008/OAS30008_MR_d0061/anat2/NIFTI/sub-OAS30008_ses-d0061_run-01_T1w.nii.gz
['sub-OAS30009_ses-d0148_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30009/OAS30009_MR_d0148/anat2/NIFTI/sub-OAS30009_ses-d0148_run-01_T1w.nii.gz
['sub-OAS30010_ses-d0068_T1w.nii.gz'] /home/common/OASIS3/OAS30010/OAS30010_MR_d0068/anat4/NIFTI/sub-OAS30010_ses-d0068_T1w.nii.gz
['sub-OAS30011_ses-d0055_T1w.nii.gz'] /home/common/OASIS3/OAS30011/OAS30011_MR_d0055/anat2/NIFTI/sub-OAS30011_ses-d0055_T1w.nii.gz
['sub-OAS30014_ses-d0196_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30014/OAS30014_MR_d0196/anat2/NIFTI/sub-OAS30014_ses-d0196_run-01_T1w.nii.gz
['sub-OAS30015_ses-d0116_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30015/OAS30015_MR_d0116/anat2/NIFTI/sub-OAS30015_ses-d0116_run-01_T1w.nii.gz
['sub-OAS30017_ses-d0054_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30017/OAS30017_MR_d0054/anat2/NIFTI/sub-OAS30017_ses-d0054_run-01_T1w.nii.gz
['sub-OAS30018_ses-d0070_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30018/OAS30018_MR_d0070/anat2/NIFTI/sub-OAS30018_ses-d0070_run-01_T1w.nii.gz
['sub-OAS30020_ses-d0092_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30020/OAS30020_MR_d0092/anat4/NIFTI/sub-OAS30020_ses-d0092_run-02_T1w.nii.gz
['sub-OAS30021_ses-d0071_T1w.nii.gz'] /home/common/OASIS3/OAS30021/OAS30021_MR_d0071/anat2/NIFTI/sub-OAS30021_ses-d0071_T1w.nii.gz
['sub-OAS30026_ses-d0048_T1w.nii.gz'] /home/common/OASIS3/OAS30026/OAS30026_MR_d0048/anat2/NIFTI/sub-OAS30026_ses-d0048_T1w.nii.gz
['sub-OAS30030_ses-d0170_T1w.nii.gz'] /home/common/OASIS3/OAS30030/OAS30030_MR_d0170/anat2/NIFTI/sub-OAS30030_ses-d0170_T1w.nii.gz
['sub-OAS30032_ses-d0262_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30032/OAS30032_MR_d0262/anat4/NIFTI/sub-OAS30032_ses-d0262_run-02_T1w.nii.gz
['sub-OAS30033_ses-d0133_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30033/OAS30033_MR_d0133/anat4/NIFTI/sub-OAS30033_ses-d0133_run-02_T1w.nii.gz
['sub-OAS30034_ses-d0044_T1w.nii.gz'] /home/common/OASIS3/OAS30034/OAS30034_MR_d0044/anat3/NIFTI/sub-OAS30034_ses-d0044_T1w.nii.gz
['sub-OAS30036_ses-d0059_T1w.nii.gz'] /home/common/OASIS3/OAS30036/OAS30036_MR_d0059/anat2/NIFTI/sub-OAS30036_ses-d0059_T1w.nii.gz
['sub-OAS30037_ses-d0154_T1w.nii.gz'] /home/common/OASIS3/OAS30037/OAS30037_MR_d0154/anat3/NIFTI/sub-OAS30037_ses-d0154_T1w.nii.gz
['sub-OAS30039_ses-d0103_T1w.nii.gz'] /home/common/OASIS3/OAS30039/OAS30039_MR_d0103/anat4/NIFTI/sub-OAS30039_ses-d0103_T1w.nii.gz
['sub-OAS30042_ses-d0067_T1w.nii.gz'] /home/common/OASIS3/OAS30042/OAS30042_MR_d0067/anat4/NIFTI/sub-OAS30042_ses-d0067_T1w.nii.gz
['sub-OAS30044_ses-d0054_T1w.nii.gz'] /home/common/OASIS3/OAS30044/OAS30044_MR_d0054/anat2/NIFTI/sub-OAS30044_ses-d0054_T1w.nii.gz
['sub-OAS30046_ses-d0072_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30046/OAS30046_MR_d0072/anat2/NIFTI/sub-OAS30046_ses-d0072_run-01_T1w.nii.gz
['sub-OAS30048_ses-d0983_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30048/OAS30048_MR_d0983/anat4/NIFTI/sub-OAS30048_ses-d0983_run-02_T1w.nii.gz
['sub-OAS30049_ses-d0013_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30049/OAS30049_MR_d0013/anat2/NIFTI/sub-OAS30049_ses-d0013_run-01_T1w.nii.gz
['sub-OAS30050_ses-d0110_T1w.nii.gz'] /home/common/OASIS3/OAS30050/OAS30050_MR_d0110/anat2/NIFTI/sub-OAS30050_ses-d0110_T1w.nii.gz
['sub-OAS30053_ses-d0428_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30053/OAS30053_MR_d0428/anat2/NIFTI/sub-OAS30053_ses-d0428_run-01_T1w.nii.gz
['sub-OAS30059_ses-d0230_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30059/OAS30059_MR_d0230/anat4/NIFTI/sub-OAS30059_ses-d0230_run-02_T1w.nii.gz
['sub-OAS30060_ses-d0074_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30060/OAS30060_MR_d0074/anat2/NIFTI/sub-OAS30060_ses-d0074_run-01_T1w.nii.gz
['sub-OAS30062_ses-d0087_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30062/OAS30062_MR_d0087/anat4/NIFTI/sub-OAS30062_ses-d0087_run-02_T1w.nii.gz
['sub-OAS30065_ses-d0548_T1w.nii.gz'] /home/common/OASIS3/OAS30065/OAS30065_MR_d0548/anat2/NIFTI/sub-OAS30065_ses-d0548_T1w.nii.gz
['sub-OAS30066_ses-d0524_T1w.nii.gz'] /home/common/OASIS3/OAS30066/OAS30066_MR_d0524/anat2/NIFTI/sub-OAS30066_ses-d0524_T1w.nii.gz
['sub-OAS30067_ses-d0057_T1w.nii.gz'] /home/common/OASIS3/OAS30067/OAS30067_MR_d0057/anat1/NIFTI/sub-OAS30067_ses-d0057_T1w.nii.gz
['sub-OAS30073_ses-d0033_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30073/OAS30073_MR_d0033/anat4/NIFTI/sub-OAS30073_ses-d0033_run-02_T1w.nii.gz
['sub-OAS30075_ses-d0143_T1w.nii.gz'] /home/common/OASIS3/OAS30075/OAS30075_MR_d0143/anat2/NIFTI/sub-OAS30075_ses-d0143_T1w.nii.gz
['sub-OAS30077_ses-d0944_T1w.nii.gz'] /home/common/OASIS3/OAS30077/OAS30077_MR_d0944/anat1/NIFTI/sub-OAS30077_ses-d0944_T1w.nii.gz
['sub-OAS30079_ses-d0019_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30079/OAS30079_MR_d0019/anat2/NIFTI/sub-OAS30079_ses-d0019_run-01_T1w.nii.gz
['sub-OAS30080_ses-d0048_T1w.nii.gz'] /home/common/OASIS3/OAS30080/OAS30080_MR_d0048/anat3/NIFTI/sub-OAS30080_ses-d0048_T1w.nii.gz
['sub-OAS30082_ses-d1700_run-02_T1w.nii.gz'] /home/common/OASIS3/OAS30082/OAS30082_MR_d1700/anat4/NIFTI/sub-OAS30082_ses-d1700_run-02_T1w.nii.gz
['sub-OAS30083_ses-d0465_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30083/OAS30083_MR_d0465/anat2/NIFTI/sub-OAS30083_ses-d0465_run-01_T1w.nii.gz
['sub-OAS30086_ses-d0000_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30086/OAS30086_MR_d0000/anat2/NIFTI/sub-OAS30086_ses-d0000_run-01_T1w.nii.gz
['sub-OAS30088_ses-d0093_run-01_T1w.nii.gz'] /home/common/OASIS3/OAS30088/OAS30088_MR_d0093/anat2/NIFTI/sub-OAS30088_ses-d0093_run-01_T1w.nii.gz
['sub-OAS30089_ses-d0001_T1w.nii.gz'] /home/common/OASIS3/OAS30089/OAS30089_MR_d0001/anat4/NIFTI/sub-OAS30089_ses-d0001_T1w.nii.gz
['sub-OAS30090_ses-d0118_T1w.nii.gz'] /home/common/OASIS3/OAS30090/OAS30090_MR_d0118/anat2/NIFTI/sub-OAS30090_ses-d0118_T1w.nii.gz
['sub-OAS30092_ses-d0636_T1w.nii.gz'] /home/common/OASIS3/OAS30092/OAS30092_MR_d0636/anat3/NIFTI/sub-OAS30092_ses-d0636_T1w.nii.gz
['sub-OAS30093_ses-d0056_T1w.nii.gz'] /home/common/OASIS3/OAS30093/OAS30093_MR_d0056/anat4/NIFTI/sub-OAS30093_ses-d0056_T1w.nii.gz

In [103]:
data['file_path']= data['file_path'].str.replace('/home/common/','')

In [105]:
data.to_csv('/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_testingData.csv', index=False)

In [117]:
import os
import shutil

source_dir = '/home/common'
dest_dir = '/home/jupyter-nafisha/Brain_age/OASIS3'

os.makedirs(dest_dir, exist_ok=True)

for itr, row in data.iterrows():
    src_path = os.path.join(source_dir, row['file_path'])
    
    if not os.path.exists(src_path):
        print(f"File not found: {src_path}")
        continue
    
    file_name = os.path.basename(src_path)

    dst_path = os.path.join(dest_dir, file_name)

    # If filename already exists, add unique suffix
    if os.path.exists(dst_path):
        name, ext = os.path.splitext(file_name)
        new_name = f"{name}_{itr}{ext}"
        dst_path = os.path.join(dest_dir, new_name)

    # Copy file
    shutil.copyfile(src_path, dst_path)
    print(f"Copied: {src_path} → {dst_path}")

Copied: /home/common/OASIS3/OAS30001/OAS30001_MR_d0129/anat2/NIFTI/sub-OAS30001_ses-d0129_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30001_ses-d0129_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30002/OAS30002_MR_d0371/anat3/NIFTI/sub-OAS30002_ses-d0371_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30002_ses-d0371_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30003/OAS30003_MR_d0558/anat2/NIFTI/sub-OAS30003_ses-d0558_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30003_ses-d0558_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30004/OAS30004_MR_d1101/anat2/NIFTI/sub-OAS30004_ses-d1101_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30004_ses-d1101_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30005/OAS30005_MR_d0143/anat3/NIFTI/sub-OAS30005_ses-d0143_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30005_ses-d0143_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30006/OAS30006_MR_d0166/anat3/NIFTI/sub-OAS30006_ses-d0166_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30006_ses-d0166_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30008/OAS30008_MR_d0061/anat2/NIFTI/sub-OAS30008_ses-d0061_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30008_ses-d0061_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30009/OAS30009_MR_d0148/anat2/NIFTI/sub-OAS30009_ses-d0148_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30009_ses-d0148_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30010/OAS30010_MR_d0068/anat4/NIFTI/sub-OAS30010_ses-d0068_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30010_ses-d0068_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30011/OAS30011_MR_d0055/anat2/NIFTI/sub-OAS30011_ses-d0055_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30011_ses-d0055_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30014/OAS30014_MR_d0196/anat2/NIFTI/sub-OAS30014_ses-d0196_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30014_ses-d0196_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30015/OAS30015_MR_d0116/anat2/NIFTI/sub-OAS30015_ses-d0116_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30015_ses-d0116_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30017/OAS30017_MR_d0054/anat2/NIFTI/sub-OAS30017_ses-d0054_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30017_ses-d0054_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30018/OAS30018_MR_d0070/anat2/NIFTI/sub-OAS30018_ses-d0070_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30018_ses-d0070_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30020/OAS30020_MR_d0092/anat4/NIFTI/sub-OAS30020_ses-d0092_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30020_ses-d0092_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30021/OAS30021_MR_d0071/anat2/NIFTI/sub-OAS30021_ses-d0071_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30021_ses-d0071_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30026/OAS30026_MR_d0048/anat2/NIFTI/sub-OAS30026_ses-d0048_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30026_ses-d0048_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30030/OAS30030_MR_d0170/anat2/NIFTI/sub-OAS30030_ses-d0170_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30030_ses-d0170_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30032/OAS30032_MR_d0262/anat4/NIFTI/sub-OAS30032_ses-d0262_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30032_ses-d0262_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30033/OAS30033_MR_d0133/anat4/NIFTI/sub-OAS30033_ses-d0133_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30033_ses-d0133_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30034/OAS30034_MR_d0044/anat3/NIFTI/sub-OAS30034_ses-d0044_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30034_ses-d0044_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30036/OAS30036_MR_d0059/anat2/NIFTI/sub-OAS30036_ses-d0059_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30036_ses-d0059_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30037/OAS30037_MR_d0154/anat3/NIFTI/sub-OAS30037_ses-d0154_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30037_ses-d0154_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30039/OAS30039_MR_d0103/anat4/NIFTI/sub-OAS30039_ses-d0103_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30039_ses-d0103_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30042/OAS30042_MR_d0067/anat4/NIFTI/sub-OAS30042_ses-d0067_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30042_ses-d0067_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30044/OAS30044_MR_d0054/anat2/NIFTI/sub-OAS30044_ses-d0054_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30044_ses-d0054_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30046/OAS30046_MR_d0072/anat2/NIFTI/sub-OAS30046_ses-d0072_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30046_ses-d0072_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30048/OAS30048_MR_d0983/anat4/NIFTI/sub-OAS30048_ses-d0983_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30048_ses-d0983_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30049/OAS30049_MR_d0013/anat2/NIFTI/sub-OAS30049_ses-d0013_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30049_ses-d0013_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30050/OAS30050_MR_d0110/anat2/NIFTI/sub-OAS30050_ses-d0110_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30050_ses-d0110_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30053/OAS30053_MR_d0428/anat2/NIFTI/sub-OAS30053_ses-d0428_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30053_ses-d0428_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30059/OAS30059_MR_d0230/anat4/NIFTI/sub-OAS30059_ses-d0230_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30059_ses-d0230_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30060/OAS30060_MR_d0074/anat2/NIFTI/sub-OAS30060_ses-d0074_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30060_ses-d0074_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30062/OAS30062_MR_d0087/anat4/NIFTI/sub-OAS30062_ses-d0087_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30062_ses-d0087_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30065/OAS30065_MR_d0548/anat2/NIFTI/sub-OAS30065_ses-d0548_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30065_ses-d0548_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30066/OAS30066_MR_d0524/anat2/NIFTI/sub-OAS30066_ses-d0524_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30066_ses-d0524_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30067/OAS30067_MR_d0057/anat1/NIFTI/sub-OAS30067_ses-d0057_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30067_ses-d0057_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30073/OAS30073_MR_d0033/anat4/NIFTI/sub-OAS30073_ses-d0033_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30073_ses-d0033_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30075/OAS30075_MR_d0143/anat2/NIFTI/sub-OAS30075_ses-d0143_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30075_ses-d0143_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30077/OAS30077_MR_d0944/anat1/NIFTI/sub-OAS30077_ses-d0944_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30077_ses-d0944_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30079/OAS30079_MR_d0019/anat2/NIFTI/sub-OAS30079_ses-d0019_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30079_ses-d0019_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30080/OAS30080_MR_d0048/anat3/NIFTI/sub-OAS30080_ses-d0048_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30080_ses-d0048_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30082/OAS30082_MR_d1700/anat4/NIFTI/sub-OAS30082_ses-d1700_run-02_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30082_ses-d1700_run-02_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30083/OAS30083_MR_d0465/anat2/NIFTI/sub-OAS30083_ses-d0465_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30083_ses-d0465_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30086/OAS30086_MR_d0000/anat2/NIFTI/sub-OAS30086_ses-d0000_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30086_ses-d0000_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30088/OAS30088_MR_d0093/anat2/NIFTI/sub-OAS30088_ses-d0093_run-01_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30088_ses-d0093_run-01_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30089/OAS30089_MR_d0001/anat4/NIFTI/sub-OAS30089_ses-d0001_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30089_ses-d0001_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30090/OAS30090_MR_d0118/anat2/NIFTI/sub-OAS30090_ses-d0118_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30090_ses-d0118_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30092/OAS30092_MR_d0636/anat3/NIFTI/sub-OAS30092_ses-d0636_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30092_ses-d0636_T1w.nii.gz
Copied: /home/common/OASIS3/OAS30093/OAS30093_MR_d0056/anat4/NIFTI/sub-OAS30093_ses-d0056_T1w.nii.gz → /home/jupyter-nafisha/Brain_age/OASIS3/sub-OAS30093_ses-d0056_T1w.nii.gz

In [123]:
source_dir= '/home/common'
file_paths = [] 

for itr, row in data.iterrows():
    file_name = os.path.basename(row['file_path'])
    print(file_name)
    file_paths.append(file_name)

data['file_name'] = file_paths

sub-OAS30001_ses-d0129_run-01_T1w.nii.gz
sub-OAS30002_ses-d0371_T1w.nii.gz
sub-OAS30003_ses-d0558_run-01_T1w.nii.gz
sub-OAS30004_ses-d1101_run-01_T1w.nii.gz
sub-OAS30005_ses-d0143_T1w.nii.gz
sub-OAS30006_ses-d0166_T1w.nii.gz
sub-OAS30008_ses-d0061_run-01_T1w.nii.gz
sub-OAS30009_ses-d0148_run-01_T1w.nii.gz
sub-OAS30010_ses-d0068_T1w.nii.gz
sub-OAS30011_ses-d0055_T1w.nii.gz
sub-OAS30014_ses-d0196_run-01_T1w.nii.gz
sub-OAS30015_ses-d0116_run-01_T1w.nii.gz
sub-OAS30017_ses-d0054_run-01_T1w.nii.gz
sub-OAS30018_ses-d0070_run-01_T1w.nii.gz
sub-OAS30020_ses-d0092_run-02_T1w.nii.gz
sub-OAS30021_ses-d0071_T1w.nii.gz
sub-OAS30026_ses-d0048_T1w.nii.gz
sub-OAS30030_ses-d0170_T1w.nii.gz
sub-OAS30032_ses-d0262_run-02_T1w.nii.gz
sub-OAS30033_ses-d0133_run-02_T1w.nii.gz
sub-OAS30034_ses-d0044_T1w.nii.gz
sub-OAS30036_ses-d0059_T1w.nii.gz
sub-OAS30037_ses-d0154_T1w.nii.gz
sub-OAS30039_ses-d0103_T1w.nii.gz
sub-OAS30042_ses-d0067_T1w.nii.gz
sub-OAS30044_ses-d0054_T1w.nii.gz
sub-OAS30046_ses-d0072_run-01_T1w.nii.gz
sub-OAS30048_ses-d0983_run-02_T1w.nii.gz
sub-OAS30049_ses-d0013_run-01_T1w.nii.gz
sub-OAS30050_ses-d0110_T1w.nii.gz
sub-OAS30053_ses-d0428_run-01_T1w.nii.gz
sub-OAS30059_ses-d0230_run-02_T1w.nii.gz
sub-OAS30060_ses-d0074_run-01_T1w.nii.gz
sub-OAS30062_ses-d0087_run-02_T1w.nii.gz
sub-OAS30065_ses-d0548_T1w.nii.gz
sub-OAS30066_ses-d0524_T1w.nii.gz
sub-OAS30067_ses-d0057_T1w.nii.gz
sub-OAS30073_ses-d0033_run-02_T1w.nii.gz
sub-OAS30075_ses-d0143_T1w.nii.gz
sub-OAS30077_ses-d0944_T1w.nii.gz
sub-OAS30079_ses-d0019_run-01_T1w.nii.gz
sub-OAS30080_ses-d0048_T1w.nii.gz
sub-OAS30082_ses-d1700_run-02_T1w.nii.gz
sub-OAS30083_ses-d0465_run-01_T1w.nii.gz
sub-OAS30086_ses-d0000_run-01_T1w.nii.gz
sub-OAS30088_ses-d0093_run-01_T1w.nii.gz
sub-OAS30089_ses-d0001_T1w.nii.gz
sub-OAS30090_ses-d0118_T1w.nii.gz
sub-OAS30092_ses-d0636_T1w.nii.gz
sub-OAS30093_ses-d0056_T1w.nii.gz

In [125]:
data['file_name'] = file_paths

In [127]:
data.to_csv('/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_testingData.csv', index=False)

# xls creation

In [1]:
import pandas as pd
df= pd.read_csv('/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_testingData.csv')

In [5]:
demo_info= pd.read_csv('/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_demographics.csv')
demo_info

,OASISID,Subject_accession,AgeatEntry,AgeatDeath,GENDER,EDUC,SES,racecode,race,ETHNIC,AIAN,NHPI,ASIAN,AA,WHITE,daddem,momdem,HAND,APOE
0,OAS30001,NaN,65.1945,NaN,2,12.0,4.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,5.0,1.0,R,23.0
1,OAS30002,NaN,67.2521,76.9397,1,18.0,2.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
2,OAS30003,NaN,58.8137,NaN,2,18.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R,33.0
3,OAS30004,NaN,55.1342,NaN,2,17.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,L,23.0
4,OAS30005,NaN,48.0630,NaN,2,16.0,3.0,2,ASIAN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,R,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,OAS31470,NaN,64.9096,NaN,2,14.0,2.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
1374,OAS31471,NaN,65.2986,NaN,1,18.0,2.0,4,Black,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,R,34.0
1375,OAS31472,NaN,67.2712,NaN,2,18.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R,33.0
1376,OAS31473,NaN,56.6137,NaN,1,20.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
1377,OAS31474,NaN,81.8438,NaN,2,16.0,2.0,4,Black,0.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,R,33.0

In [3]:
filtered= df[['file_name', 'Age']]

In [7]:
filtered['id'] = filtered['file_name'].str.extract(r'sub-(OAS\d+)')
filtered

/tmp/ipykernel_38220/577367265.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['id'] = filtered['file_name'].str.extract(r'sub-(OAS\d+)')

                                   file_name   Age        id
0   sub-OAS30001_ses-d0129_run-01_T1w.nii.gz  65.0  OAS30001
1          sub-OAS30002_ses-d0371_T1w.nii.gz  68.0  OAS30002
2   sub-OAS30003_ses-d0558_run-01_T1w.nii.gz  60.0  OAS30003
3   sub-OAS30004_ses-d1101_run-01_T1w.nii.gz  58.0  OAS30004
4          sub-OAS30005_ses-d0143_T1w.nii.gz  48.0  OAS30005
5          sub-OAS30006_ses-d0166_T1w.nii.gz  62.0  OAS30006
6   sub-OAS30008_ses-d0061_run-01_T1w.nii.gz  52.0  OAS30008
7   sub-OAS30009_ses-d0148_run-01_T1w.nii.gz  49.0  OAS30009
8          sub-OAS30010_ses-d0068_T1w.nii.gz  68.0  OAS30010
9          sub-OAS30011_ses-d0055_T1w.nii.gz  78.0  OAS30011
10  sub-OAS30014_ses-d0196_run-01_T1w.nii.gz  70.0  OAS30014
11  sub-OAS30015_ses-d0116_run-01_T1w.nii.gz  65.0  OAS30015
12  sub-OAS30017_ses-d0054_run-01_T1w.nii.gz  53.0  OAS30017
13  sub-OAS30018_ses-d0070_run-01_T1w.nii.gz  71.0  OAS30018
14  sub-OAS30020_ses-d0092_run-02_T1w.nii.gz  52.0  OAS30020
15         sub-OAS30021_ses-d0071_T1w.nii.gz  69.0  OAS30021
16         sub-OAS30026_ses-d0048_T1w.nii.gz  80.0  OAS30026
17         sub-OAS30030_ses-d0170_T1w.nii.gz  66.0  OAS30030
18  sub-OAS30032_ses-d0262_run-02_T1w.nii.gz  50.0  OAS30032
19  sub-OAS30033_ses-d0133_run-02_T1w.nii.gz  79.0  OAS30033
20         sub-OAS30034_ses-d0044_T1w.nii.gz  65.0  OAS30034
21         sub-OAS30036_ses-d0059_T1w.nii.gz  66.0  OAS30036
22         sub-OAS30037_ses-d0154_T1w.nii.gz  59.0  OAS30037
23         sub-OAS30039_ses-d0103_T1w.nii.gz  73.0  OAS30039
24         sub-OAS30042_ses-d0067_T1w.nii.gz  68.0  OAS30042
25         sub-OAS30044_ses-d0054_T1w.nii.gz  63.0  OAS30044
26  sub-OAS30046_ses-d0072_run-01_T1w.nii.gz  80.0  OAS30046
27  sub-OAS30048_ses-d0983_run-02_T1w.nii.gz  62.0  OAS30048
28  sub-OAS30049_ses-d0013_run-01_T1w.nii.gz  73.0  OAS30049
29         sub-OAS30050_ses-d0110_T1w.nii.gz  70.0  OAS30050
30  sub-OAS30053_ses-d0428_run-01_T1w.nii.gz  63.0  OAS30053
31  sub-OAS30059_ses-d0230_run-02_T1w.nii.gz  49.0  OAS30059
32  sub-OAS30060_ses-d0074_run-01_T1w.nii.gz  80.0  OAS30060
33  sub-OAS30062_ses-d0087_run-02_T1w.nii.gz  51.0  OAS30062
34         sub-OAS30065_ses-d0548_T1w.nii.gz  71.0  OAS30065
35         sub-OAS30066_ses-d0524_T1w.nii.gz  75.0  OAS30066
36         sub-OAS30067_ses-d0057_T1w.nii.gz  56.0  OAS30067
37  sub-OAS30073_ses-d0033_run-02_T1w.nii.gz  61.0  OAS30073
38         sub-OAS30075_ses-d0143_T1w.nii.gz  80.0  OAS30075
39         sub-OAS30077_ses-d0944_T1w.nii.gz  76.0  OAS30077
40  sub-OAS30079_ses-d0019_run-01_T1w.nii.gz  45.0  OAS30079
41         sub-OAS30080_ses-d0048_T1w.nii.gz  62.0  OAS30080
42  sub-OAS30082_ses-d1700_run-02_T1w.nii.gz  61.0  OAS30082
43  sub-OAS30083_ses-d0465_run-01_T1w.nii.gz  59.0  OAS30083
44  sub-OAS30086_ses-d0000_run-01_T1w.nii.gz  68.0  OAS30086
45  sub-OAS30088_ses-d0093_run-01_T1w.nii.gz  76.0  OAS30088
46         sub-OAS30089_ses-d0001_T1w.nii.gz  78.0  OAS30089
47         sub-OAS30090_ses-d0118_T1w.nii.gz  53.0  OAS30090
48         sub-OAS30092_ses-d0636_T1w.nii.gz  60.0  OAS30092
49         sub-OAS30093_ses-d0056_T1w.nii.gz  59.0  OAS30093

In [9]:
new_filtered= filtered.merge(
    demo_info,
    left_on= 'id',
    right_on= 'OASISID',
    how= 'inner'
)

In [11]:
new_filtered= new_filtered[['file_name', 'Age', 'GENDER']]

In [14]:
new_filtered

                                   file_name   Age  sex
0   sub-OAS30001_ses-d0129_run-01_T1w.nii.gz  65.0    2
1          sub-OAS30002_ses-d0371_T1w.nii.gz  68.0    1
2   sub-OAS30003_ses-d0558_run-01_T1w.nii.gz  60.0    2
3   sub-OAS30004_ses-d1101_run-01_T1w.nii.gz  58.0    2
4          sub-OAS30005_ses-d0143_T1w.nii.gz  48.0    2
5          sub-OAS30006_ses-d0166_T1w.nii.gz  62.0    1
6   sub-OAS30008_ses-d0061_run-01_T1w.nii.gz  52.0    2
7   sub-OAS30009_ses-d0148_run-01_T1w.nii.gz  49.0    2
8          sub-OAS30010_ses-d0068_T1w.nii.gz  68.0    2
9          sub-OAS30011_ses-d0055_T1w.nii.gz  78.0    2
10  sub-OAS30014_ses-d0196_run-01_T1w.nii.gz  70.0    2
11  sub-OAS30015_ses-d0116_run-01_T1w.nii.gz  65.0    1
12  sub-OAS30017_ses-d0054_run-01_T1w.nii.gz  53.0    2
13  sub-OAS30018_ses-d0070_run-01_T1w.nii.gz  71.0    1
14  sub-OAS30020_ses-d0092_run-02_T1w.nii.gz  52.0    2
15         sub-OAS30021_ses-d0071_T1w.nii.gz  69.0    1
16         sub-OAS30026_ses-d0048_T1w.nii.gz  80.0    1
17         sub-OAS30030_ses-d0170_T1w.nii.gz  66.0    1
18  sub-OAS30032_ses-d0262_run-02_T1w.nii.gz  50.0    2
19  sub-OAS30033_ses-d0133_run-02_T1w.nii.gz  79.0    2
20         sub-OAS30034_ses-d0044_T1w.nii.gz  65.0    2
21         sub-OAS30036_ses-d0059_T1w.nii.gz  66.0    2
22         sub-OAS30037_ses-d0154_T1w.nii.gz  59.0    2
23         sub-OAS30039_ses-d0103_T1w.nii.gz  73.0    2
24         sub-OAS30042_ses-d0067_T1w.nii.gz  68.0    2
25         sub-OAS30044_ses-d0054_T1w.nii.gz  63.0    2
26  sub-OAS30046_ses-d0072_run-01_T1w.nii.gz  80.0    1
27  sub-OAS30048_ses-d0983_run-02_T1w.nii.gz  62.0    2
28  sub-OAS30049_ses-d0013_run-01_T1w.nii.gz  73.0    1
29         sub-OAS30050_ses-d0110_T1w.nii.gz  70.0    2
30  sub-OAS30053_ses-d0428_run-01_T1w.nii.gz  63.0    1
31  sub-OAS30059_ses-d0230_run-02_T1w.nii.gz  49.0    2
32  sub-OAS30060_ses-d0074_run-01_T1w.nii.gz  80.0    2
33  sub-OAS30062_ses-d0087_run-02_T1w.nii.gz  51.0    2
34         sub-OAS30065_ses-d0548_T1w.nii.gz  71.0    1
35         sub-OAS30066_ses-d0524_T1w.nii.gz  75.0    2
36         sub-OAS30067_ses-d0057_T1w.nii.gz  56.0    1
37  sub-OAS30073_ses-d0033_run-02_T1w.nii.gz  61.0    1
38         sub-OAS30075_ses-d0143_T1w.nii.gz  80.0    2
39         sub-OAS30077_ses-d0944_T1w.nii.gz  76.0    2
40  sub-OAS30079_ses-d0019_run-01_T1w.nii.gz  45.0    2
41         sub-OAS30080_ses-d0048_T1w.nii.gz  62.0    2
42  sub-OAS30082_ses-d1700_run-02_T1w.nii.gz  61.0    2
43  sub-OAS30083_ses-d0465_run-01_T1w.nii.gz  59.0    2
44  sub-OAS30086_ses-d0000_run-01_T1w.nii.gz  68.0    2
45  sub-OAS30088_ses-d0093_run-01_T1w.nii.gz  76.0    1
46         sub-OAS30089_ses-d0001_T1w.nii.gz  78.0    1
47         sub-OAS30090_ses-d0118_T1w.nii.gz  53.0    1
48         sub-OAS30092_ses-d0636_T1w.nii.gz  60.0    2
49         sub-OAS30093_ses-d0056_T1w.nii.gz  59.0    2

In [13]:
new_filtered = new_filtered.rename(columns={'GENDER': 'sex'})

In [16]:
new_filtered.to_excel('/home/jupyter-nafisha/Brain_age/CSVs/OASIS3_testingData_HCCT.xlsx', index= False)